.homepage {
    background: transparent;
    height: 100vh;
    color: #ffffff;    
}

.homepage-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.homepage-body p {
    font-size: 40px;
    font-weight: 600;
}

.homepage-body button {
    border: 2px solid #292F36;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    background: red;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

/* .rainbow-text {
    background-image: linear-gradient(to right, 
      violet, indigo, blue, green, yellow, orange, red
    );
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    font-size: 35px !important;
    animation: rainbow 5s linear infinite;
    margin-bottom: 30px;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  } */

  .rainbow-text {
    color: black;
  }
  

@media only screen and (max-width: 768px) {
    .homepage {
        background: green;
        height: 100vh;
        
    }
    
    .homepage-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    
    .homepage-body p {
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
    }

    
    
    .homepage-body button {
        border: 2px solid #292F36;
        height: 60px;
        width: 200px;
        border-radius: 8px;
        background: red;
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        margin-top: 20px;
    }

    /* .rainbow-text {
        background-image: linear-gradient(to right, 
          violet, indigo, blue, green, yellow, orange, red
        );
        -webkit-background-clip: text;
        color: transparent;
        display: flex;
        font-size: 15px !important;
        animation: rainbow 5s linear infinite;
        margin-bottom: 30px;
      }
      
      @keyframes rainbow {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      } */
      
}
























 /* .homepage-body { height: 90vh; } */

.homepage-body {
    background: radial-gradient(circle, lemonchiffon, rgb(223, 68, 68) 25%, skyblue);

}

.homepage-body:after {
    content: bo;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: radial-gradient(circle, transparent, rgb(95, 83, 83) 25%, transparent);
    animation: color 3.5s infinite ease-out alternate;
    opacity: 0;
}

@keyframes color {
    0% {  background: radial-gradient(circle, transparent, rgb(128, 55, 55) 25%, transparent); }
    100% { opacity: 1; }
}