@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #23194f;
    height: 10vh;
    align-items: center;
}

.navbar .logo {
    font-size: 40px;
    margin-left: 20px;
    font-weight: 800;
}

.pic {
    color: #fffbdf;
    font-family: "Raleway Dots", sans-serif;

}

.lit {
    color: #fffbdf;
    font-family: "Raleway Dots", sans-serif;
}

.navbar .nav-links {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.navbar .nav-links a {
    text-decoration: none;
    border-radius: 50px;
    color: #292F36;
    border: 2px solid #6ec6cb;
    width: 90px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-links a:nth-child(1) {
    color: #fffbdf;
    margin-right: 20px;
}

.navbar .nav-links a:nth-child(2) {
    color: #fffbdf;
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #F5F5F5;
        height: 10vh;
        align-items: center;
    }
    
    .navbar .logo {
        font-size: 40px;
        margin-left: 0px;
    }
    
    .pic {
        color: red;
    }
    
    .lit {
        color: black;
    }
    
    .navbar .nav-links {
        margin-right: 0px;
        display: flex;
        flex-direction: row;
    }
    
    .navbar .nav-links a {
        text-decoration: none;
        color: #292F36;
        border: 2px solid #292F36;
        width: 90px;
        height: 40px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar .nav-links a:nth-child(1) {
        color: green;
        margin-right: 10px;
    }
    
    .navbar .nav-links a:nth-child(2) {
        color: red;
    }
}