.reset-password {
    background: rgb(222, 248, 222);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password--box {
    border: 2px solid black;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    background: rgb(182, 178, 178);
}

.reset-password--box h2 {
    font-size: 25px;
    text-align: center;
}

.reset-password--box label {
    font-size: 20px;
}

.reset-password--box input {
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    width: 100%;
}

.reset-password--box button {
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    color: rgba(6, 42, 248, 0.979);
}

.reset-password--box button:hover {
    color: orangered;
}

.reset-password--box p {
    margin-top: 20px;
    color: rgb(7, 40, 230);
}

.reset-password--box span a {
    color: blue;
    font-weight: 600;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .reset-password {
        background: rgb(222, 248, 222);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .reset-password--box {
        border: 2px solid black;
        height: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 20px;
        width: 95%;
        background: rgb(182, 178, 178);
    }
    
    .reset-password--box h2 {
        font-size: 25px;
        text-align: center;
    }
    
    .reset-password--box label {
        font-size: 20px;
    }
    
    .reset-password--box input {
        height: 40px;
        border-radius: 8px;
        border: none;
        padding: 5px;
        width: 100%;
    }
    
    .reset-password--box button {
        height: 40px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        margin-bottom: 10px;
        color: rgba(6, 42, 248, 0.979);
    }
    
    .reset-password--box button:hover {
        color: orangered;
    }
    
    .reset-password--box p {
        margin-top: 20px;
        color: rgb(7, 40, 230);
    }
    
    .reset-password--box span a {
        color: blue;
        font-weight: 600;
        text-decoration: none;
    }
}
